{% if entry.id %}
{% assign title = entry.title | markdownify | strip_html %}
{% else %}
{% assign title = entry.title %}
{% endif %}

<article class="entry entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      <a href="{{ entry.url | relative_url }}">{{ title }}</a>
    </h3>
  </header>
  <p class="entry-pub">
    {% for author in entry.authors %}
      {{ author }}; 
    {% endfor %}<br/>
    <i>{{ entry.journal }}</i>
  </p>
  <div class="entry-meta">
    {% if entry.preprint %}
    <span class="entry-preprint"></span>
    PDF: <a href="{{ entry.preprint }}" class="button-preprint-small" target="_blank" rel="noopener noreferrer">{{ entry.preprint }}</a> 
    </span> 
    {% endif %}
    {% if entry.dataset %}
    <span class="entry-dataset"></span>
    Dataset: <a href="{{ entry.dataset }}" class="button-dataset-small" target="_blank" rel="noopener noreferrer">{{ entry.dataset }}</a> 
    </span> 
    {% endif %}
    {% if entry.tags %}
    Tags:
    {% for tag in entry.tags %}
      {% unless tag contains "journal" %}
      <a href="{{site.url}}/tags/#{{ tag }}" class="button-tag-small" style="text-decoration:none;">{{ tag }}</a> 
      {% endunless %}
    {% endfor %}
    {% endif %}
  </div>
  {% if entry.image.thumbnail %}
    {% assign entry_image = entry.image.thumbnail %}
    {% unless entry_image contains '://' %}
      {% assign entry_image = entry_image | relative_url %}
    {% endunless %}
    {% assign entry_image = entry_image | escape %}
    <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
  {% endif %}
  {% unless page.show_excerpts == false %}
  <!--
  <div class="entry-excerpt p-summary">
    {% if entry.excerpt %}
    {{ entry.excerpt | markdownify }}
    {% endif %}
  </div>
  -->
  {% endunless %}
</article>